<a href="https://colab.research.google.com/github/anushkapandey12/pwassignments/blob/main/DatatypeandStructures_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are data structures, and why are they important?
- Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
- They are important because choosing the right data structure significantly impacts the efficiency and performance of your program. A well-chosen data structures can simplify data manipulation (adding, removing, modifying elements), optimize searching and sorting operations and conserve memory usage.

2. Explain the difference between mutable and immutable data types with examples?
- Mutable Data Types: These are the type of data types which can be modified or changed.
E,g : Lists.
- Immutable Data Types - Theee are the types of datatypes whose values cannot be modified or changed. E.g - Tuple.

3. What are the main differences between lists and tuples in Python?
- Lists are mutable collections of elements i.e., you can add, remove, or modify elements within a list using indexing and slicing.
- Tuples are immutable collections of elements i.e., you can access elements using indexing and slicing, but you cannot modify the content.

4. Describe how dictionaries store data?
- Elements are not stored in a specific order.
- Each element holds a unique key and a tag representing the value.
- You can quickly find value by looking up the corresponding key.
5. Why might you use a set instead of a list in Python?
- Searching for an element in a list requires scanning through the list element by element. In contrast, sets use a hash table to store elements. When you perform a membership test (x in set), Python directly calculates the hash value of x and checks if it exists in the hash table.
6. What is a string in Python, and how is it different from a list?
- Strings are characters arranged in an unchangeable order.
- Strings are immutable, meaning once you create a string, you cannot change it whereas lists are mutable having collections that might change.
- Strings only contain characters whereas Lists can contain anything.

7. How do tuples ensure data integrity in Python?
-  Tuples are immutable collections of elements. Once created, the items in a tuple cannot be changed. This provides a secure way to store data that shouldn't be modified.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A Hash table is defined as a data structure used to insert, look up, and remove key-value pairs quickly. It operates on the hashing concept, where each key is translated by a hash function into a distinct index in an array. The index functions as a storage location for the matching value. In simple words, it maps the keys with the value.
- Both dictionary and hash table pair keys to value in order to have fast big operations while insertion or deletion or lookups.

9. Can lists contain different data types in Python?
- Lists can hold items of various data types (numbers, strings, even other lists).

10. Explain why strings are immutable in Python.

- In Python, strings are sequences of characters enclosed within single (’ ‘) or double (" “) quotes.
-  This means that once a string is created, its content cannot be altered directly. You can’t change individual characters within a string.

11.  What advantages do dictionaries offer over lists for certain tasks?

- Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary through the key.

12. Describe a scenario where using a tuple would be preferable over a list.

- Tuples are useful for representing fixed datasets or configurations. The stored data cannot be removed or modified ensuring their privacy which is not possible in lists.


13. How do sets handle duplicate values in Python?
- Duplicate entries are not allowed in Sets and duplicates are removed if any is found.

14. How does the “in” keyword work differently for lists and dictionaries?
- The in operator tells you whether something appears as a key in the dictionary. It returns two values True or False.
- For lists, the in operator uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion.
- For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
- We cannot modify the content of a tupe because a tuple is immutable. Once created, the items in a tuple cannot be changed.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) as its value.
- nested_dict = { 'dictionary1': {'key_1': 'value_1'}, 'dictionary2': {'key_2': 'value_2'}}

17.  Describe the time complexity of accessing elements in a dictionary?
- The time complexity of dictionary operations in Python depends on the size of the dictionary and the specific operation being performed.
- The time complexity of accessing a dictionary can degrade to O(n), or linear time, in certain scenarios. This occurs when there are many collisions, meaning multiple key-value pairs have the same hash value. In such cases, Python needs to perform key comparisons to find the correct pair, which takes additional time.

18. In what situations are lists preferred over dictionaries?
- Lists are often preferred when the order of items is important, and when operations like appending and extending are frequently used.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary is termed as an unordered collection of object because the printed order of elements is not same as the order in which the elements are stored.
- We cannot index or slice them like ordered structures. Elements are stored and retrieved in the order of insertion. No guaranteed order of elements.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

1. Write a code to create a string with your name and print it.

In [1]:
name = input("Please enter your name: ")
print ("My name is" ,name)

Please enter your name: Anushka
My name is  Anushka

2. Write a code to find the length of the string "Hello World".

In [4]:
string = "Hello World"
print("The length of string is" ,len(string))

The length of string is, 11

In [7]:
string = "Hello World"
count = 0
for i in string:
  count+=1
print("The length of string is" ,count)

The length of string is 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [8]:
word = "Python Programming"
print ("The sliced result is" ,word[3:])

The sliced result is hon Programming

In [18]:
word = "Python Programming"
count = 0
new = ""
for char in word:
  count+=1
  if count > 3:
    new += char
print("The sliced result is" ,new)

The sliced result is hon Programming

4. Write a code to convert the string "hello" to uppercase.

In [19]:
word = "hello"
print ("Converted to uppercase" ,word.upper())

Converted to uppercase HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I
 like apple"

In [20]:
string = "I like apple"
print (string.replace("apple", "orange"))

I like orange

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [24]:
n=5
my_list=[]
for i in range (1,n+1):
  my_list.append(i)
print("The required list is" ,my_list)

The required list is [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [27]:
new_list= [1,2,3,4]
new_list.append(10)
print("The new list is" , new_list)

The new list is [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [28]:
mylist =[1,2,3,4,5]
mylist.remove(3)
print ("The new list is" ,mylist)

The new list is [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [30]:
mylist = ['a','b','c', 'd']
print ("The second element is" ,mylist[1])

The second element is b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [32]:
mylist = [10,20,30,40,50]
mylist.reverse()
print ("The reversed list is" ,mylist)

The reversed list is [50, 40, 30, 20, 10]

In [39]:
mylist = [10,20,30,40,50]
newlist=[]
for i in range(len(mylist)-1,-1,-1):
  newlist.append(mylist[i])
print("The reversed list is" ,newlist)

The reversed list is [50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [40]:

mytuple = (100,200,300)
print ("The required tuple is" ,mytuple)

The required tuple is (100, 200, 300)

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [43]:
mytuple = ('red', 'green', 'blue', 'yellow')
print ("The second-to-last element is" ,mytuple[-2])

The second-to-last element is blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [48]:
mytuple =(10, 20, 5, 15)
for i in range(0,len(mytuple)-1):
  if mytuple[i]<=mytuple[i+1]:
    newterm= mytuple[i]
  else:
    newterm= mytuple[i+1]
print ("The minimum number is" ,newterm)

The minimum number is 5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [49]:
ntuple = ('dog', 'cat', 'rabbit')
for i in range (0, len(ntuple)):
  if ntuple[i] == "cat":
    print ("The index of cat is" ,i)

The index of cat is 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [57]:
mytuple=()
for i in range (0,3):
  mytuple += (input("Enter the name of any fruit "),)
print("The tuple for fruits is" ,mytuple)
for j in range(0,3):
  if mytuple[j] == "kiwi":
    print ("kiwi is in the tuple")

Enter the name of any fruit  apple
Enter the name of any fruit banana
Enter the name of any fruit kiwi
The tuple for fruits is (' apple', 'banana', 'kiwi')
kiwi is in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [1]:
myset={'a','b','c'}
print("The required set is" ,myset)

The required set is {'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
myset = {1,2,3,4,5}
myset.clear()
print("The new set is" ,myset)

The new set is set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [3]:
myset = {1,2,3,4}
myset.discard(4)
print("The new set is" ,myset)

The new set is {1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [4]:
setA ={1,2,3}
setB ={3,4,5}
print("The union of the two sets A and B is" ,setA.union(setB))

The union of the two sets A and B is {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [5]:
setA= {1,2,3}
setB= {2,3,4}
print("The intersection of the two sets A and B is" ,setA.intersection(setB))

The intersection of the two sets A and B is {2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [6]:
mydict= {'name': 'Anushka', 'age': 21, 'city': 'Bokaro'}
print("The given dictionary is" ,mydict)

The given dictionary is {'name': 'Anushka', 'age': 21, 'city': 'Bokaro'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [15]:
mydict = {'name': 'John', 'age': 25}
mydict.update({'country': 'USA'})
print ("The updated dictionary is" ,mydict)

The updated dictionary is {'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [9]:
mydict= {'name': 'Alice', 'age': 30}
print ("The value associated with name is" ,mydict.get('name'))

The value associated with name is Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [14]:
mydict =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
mydict.pop('age')
print("The new dictioary is" ,mydict)

The new dictioary is {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [16]:
mydict =  {'name': 'Alice', 'city': 'Paris'}
if 'city' in mydict:
  print("The key city exists in the dictionary")
else:
  print("The key city does not exist in the dictionary")

The key city exists in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [17]:
mylist = ['a','b','c']
mytuple = (1,2,3,)
mydict = {'a':1, 'b':2, 'c':3}
print("The list is" ,mylist)
print("The tuple is" ,mytuple)
print("The dictionary is" ,mydict)

The list is ['a', 'b', 'c']
The tuple is (1, 2, 3)
The dictionary is {'a': 1, 'b': 2, 'c': 3}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [18]:
from random import randint
mylist=[]
for i in range (0,5):
  mylist.append(randint(1,100))
print ("The list is of random numbers is" ,mylist)
mylist.sort()
print ("The sorted list is" ,mylist)

The list is of random numbers is [6, 82, 5, 50, 31]
The sorted list is [5, 6, 31, 50, 82]

28. Write a code to create a list with strings and print the element at the third index.

In [19]:
mylist = ['flower', 'icecream', 'chocolates', 'music' , 'sleeping']
print("The list with strings is" ,mylist)
print("The element at the third index is" ,mylist[2])

The list with strings is ['flower', 'icecream', 'chocolates', 'music', 'sleeping']
The element at the third index is chocolates

29.  Write a code to combine two dictionaries into one and print the result.

In [20]:
dictA= {'a':1, 'b':2, 'c':3}
dictB= {'d':4, 'e':5, 'f':6}
dictA.update(dictB)
print("The combined dictionary is" ,dictA)

The combined dictionary is {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

30. Write a code to convert a list of strings into a set.

In [22]:
mylist = ['flower', 'icecream', 'chocolates', 'music' , 'sleeping']
myset =set()
for i in range(len(mylist)):
  myset.add(mylist[i])
print("The converted set is" ,myset)

The converted set is {'flower', 'music', 'sleeping', 'icecream', 'chocolates'}